################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/WordLikeFb/.vs/WordLikeFb
/src/WordLikeFb/WordLikeFb/obj
/src/WordLikeFb/WordLikeFb/bin/Debug/net8.0-windows
/src/WordLikeFb/.vs/ProjectEvaluation
/.vs/WordLikeFb
/src/.vs
/src/WordLikeFb/bin/Debug/net8.0-windows
/src/WordLikeFb.Core/obj
/tests/WordLikeFb.Tests/bin/Debug/net8.0-windows
/tests/WordLikeFb.Tests/obj
/src/WordLikeFb/obj
/.vs/ProjectEvaluation
/.vs
