################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/WordLikeFb/.vs/WordLikeFb
/src/WordLikeFb/WordLikeFb/obj
/src/WordLikeFb/WordLikeFb/bin/Debug/net8.0-windows
/src/WordLikeFb/.vs/ProjectEvaluation
